<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>
<body>
    <div class="main-content">
        {{>header}}
        <article class="widget">
            <form class="weatherLocation">
                <input class="inputLocation" placeholder="Insert a location..." type="text" /><button class="search-btn">Search</button>
            </form>
            <div class="weatherIcon">
                <img id="weatherImg" class="iconCode" src="img/forecast.svg" alt="weather icon">
            </div>
            <div class="backdiv"><div class="weatherCondition"></div></div>
            <div class="weatherInfo">
                <div class="temperature"><span></span></div>
                <div class="description">
                    <div class="place"></div>
                </div>
            </div>
            <div class="date"></div>
            <div class="history-btn"><button class="btn-del">Clear History</button></div>
           
            <div class="bottom">    
                <a href="https://github.com/Festevestrindade/weatherapp" target="_blank">
                <button alt="button-github" class="btn-del">Check out the Github - @Francisco Esteves Trindade</button>
                </a>
            </div>
        </article>
    </div>
    <div></div>
    {{>footer}}
    <script src="js/app.js"></script> 
</body>
</html>