body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  text-align: center;
  margin: 40px 0 50px 0;
}

.iconCode{
  height: 17em;
}

.widget {
  display: flex;
  height: 18em;
  flex-wrap: wrap;
  border-radius: 20px;
}
.inputLocation{
  padding: 20px;
  height: 50px;
  width: 400px;
  font-size: 20px;
  border: none;
  background-color:#57a7b617;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.weatherLocation{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.weatherLocation button{
  background: #2f4977;
  color:#fff;
  border: 1px solid transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 18px;
}
.weatherLocation input:focus{
  outline: 0 none;
}

.weatherIcon {
  flex: 1 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #2f74770d;
  display: flex;
  justify-content: space-around;
}

.weatherCondition{
  flex: 1 100%;
  text-align: center;
  margin: 36px;
  text-transform: uppercase;
  font-size: 20px;
}
.backdiv{
  flex: 100%;
  background-color: #2f74770d;
}

.weatherInfo {
  flex: 50%;
  height: 40%;
  background: #397289;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.place {
  font-size: 25px;
  padding: 10px;
}
.date {
  flex: 50%;
  height: 40%;
  background: #57a7b6;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
}
.history-btn{
  margin: 30px;
  flex: 100%;
}

.btn-del {
  width: 100%;
  height: 2em;
  border: none;
  background-color: #2f4977;
  color: white;
  cursor: pointer;
  border-radius: 0.2em;
  outline: none;
  font-size: 18px;
}

#localStorageDiv{
    flex: 100%;
    height: 75%;
    display: flex;
}

.localStorageDate, .localStorageTemp, .localStoragePlace, .localStorageDes{
  flex: 25%;
  height: 40%;
  background: #578fb6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  margin-top: 20px;
}

.localStorageDate{
  background-color: #405b6e;
}

.localStorageDes{
  font-size: 20px;
}

.bottom{
  margin-top: 50px;
  flex: 100%;
}



@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 1) { 
body {
  max-width: 750px;
}
.inputLocation{
  border-radius: 0px;
  font-size: 22px;
  width:550px;
 }

.weatherLocation button{
  font-size: 22px;
 border-bottom-right-radius: 0px;
  border-top-right-radius:  0px;
}

.iconCode{
  height: 21em;
}
.weatherCondition{
  font-size: 35px;
}

.weatherInfo{
  border-bottom-left-radius: 0px;
  flex: 100%;
}
.temperature{
  flex: auto;
  text-align: center;
}
.description{
  flex: auto;
  text-align: center;
}
.date{
  flex: 100%;
  border-bottom-right-radius: 0px;
}
.place{
  font-size: 30px;
}

.btn-del {
height: 4em;
font-size: 22px;
}

}